[submodule "gsnake-python"]
	path = gsnake-python
	url = https://github.com/NNTin/gsnake-python.git
[submodule "gsnake-web"]
	path = gsnake-web
	url = https://github.com/NNTin/gsnake-web.git
[submodule "gsnake-specs"]
	path = gsnake-specs
	url = https://github.com/NNTin/gsnake-specs.git
[submodule "gsnake-levels"]
	path = gsnake-levels
	url = https://github.com/NNTin/gsnake-levels.git
[submodule "gsnake-editor"]
	path = gsnake-editor
	url = https://github.com/NNTin/gsnake-editor.git
